/* Reseta o CSS padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-title {
    text-align: center;
}


/* Estilo do corpo */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    line-height: 1.6;
    margin: 0;
}

/* Estilo do cabeçalho */
header {
    background: #e7249c;
    color: #fff;
    padding: 1rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}

/* Estilo do contêiner principal */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Estilo do título principal */
h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

/* Estilo das seções */
section {
    background: #fff;
    margin: 1rem 0;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo das imagens */
section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1rem;
}

/* Estilo dos títulos das seções */
section h2 {
    color:#333;
    margin-bottom: 0.5rem;
}

/* Estilo dos parágrafos */
section p {
    margin-bottom: 1rem;
}

/* Estilo do rodapé */
footer {
    background: #e7249c;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilo das imagens */
section img {
    max-width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto 1rem;
}
